html, body {
    height: 100%;
    width: 100%;
    
}

:root {
    --color-background: linear-gradient(180deg, hsla(333, 100%, 53%, 1) 0%, hsla(344, 99%, 59%, 1) 25%, hsla(1, 97%, 65%, 1) 50%, hsla(19, 95%, 61%, 1) 75%, hsla(33, 94%, 57%, 1) 100%);
    --calc-body-background: rgba( 255, 255, 255, 0.25 );
    --calc-body-border: 1px solid rgba( 255, 255, 255, 0.18 );
    --calc-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }

body {
    font-family: Inter, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    margin: 0;
    background: var(--color-background);
    background-repeat: no-repeat;
    background-attachment: fixed;
    gap: 2rem;
    /* flex-wrap: wrap-reverse; */
    /* gap: 1rem 5rem; */
    
}

.screen-orientation-warning {
    color: white;
    display: none;
}

.screen-orientation-warning > p {
    margin: 0;
}

.calc-titles {
    color: white;
    
}

.calc-titles p {
    margin: 0;
}

.calc-body {
    /* background-color: black;
    border-radius: 2rem;*/
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    /* background: rgba( 255, 255, 255, 0.25 ); */
    background: var(--calc-body-background);
    box-shadow: var(--calc-box-shadow);
    backdrop-filter: blur( 4px );
    /* -webkit-backdrop-filter: blur( 4px ); */
    border-radius: 1rem;
    border: var(--calc-body-border)
    
}

.buttons-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.result-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#result {
    color: white;
    text-align: end;
    font-weight: 500;
    font-size: 3rem;
    margin: 0%;
}

#expression {
    color: white;
    text-align: end;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0%;
}

.floor {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.func-icon, .num-icon, .math-icon {
    font-family: Inter, Helvetica, Arial, sans-serif;
    
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    border: 0;
}

.func-icon {
    background-color:lightgray;
    color: black;
}

.func-icon:active {
    background-color:rgb(247, 247, 247);
}

.math-icon {
    background-color:orange;
    color: white;
    font-size: 2rem;
}

.math-icon:active {
    background-color:rgb(255, 201, 102);
}

.num-icon {
    background-color:rgb(100, 100, 100);
    color: white;
    font-size: 1.5rem;
}

.num-icon:active {
    background-color:grey;
}

.num-icon.zero {
    width: 136px;
    border-radius: 30px;
}

@media (max-height: 470px) {
    .screen-orientation-warning {
        color: white;
        display: block;
        position: fixed;
        top: 50vh;
        text-align: center;
        font-size: 5vh;
    }
}

@media (max-height: 435px) {
    body {
        justify-content: flex-start;
    }
}

@media (max-width: 450px) {
    .calc-body {
        padding: 6.7vw;
        gap: 3.35vw
    }


.result-body {
    
    gap: 1.675vw;
}

    #result {
        font-size: 10vw;
        
    }

    #expression {
        font-size: 5vw;
        
    }

    .buttons-body {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    .floor {
        gap: 3vw;
    }

    .func-icon, .num-icon, .math-icon {
        flex-shrink: 0;
        width: 15vw;
        height: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 3.35vw;
        cursor: pointer;
        border: 0;
    }

    .num-icon {
        font-size: 5vw;
    }

    .num-icon.zero {
        width: 33vw;
        border-radius: 15vw;
    }

    .math-icon {
        font-size: 6.7vw;
    }
}

@media (prefers-color-scheme: dark) {
    /* Re-assign previous variables */
    :root {
      /* --color-background: linear-gradient(0deg, hsla(221, 45%, 73%, 1) 0%, hsla(221, 42%, 68%, 1) 8%, hsla(221, 39%, 61%, 1) 16%, hsla(220, 37%, 56%, 1) 24%, hsla(220, 35%, 50%, 1) 33%, hsla(220, 43%, 44%, 1) 45%, hsla(220, 50%, 40%, 1) 54%, hsla(220, 58%, 36%, 1) 63%, hsla(220, 63%, 34%, 1) 73%, hsla(220, 67%, 32%, 1) 82%, hsla(220, 72%, 31%, 1) 90%, hsla(220, 78%, 29%, 1) 100%); */
      /* --color-background: linear-gradient(0deg, hsla(158, 94%, 49%, 1) 0%, hsla(162, 95%, 43%, 1) 5%, hsla(164, 94%, 39%, 1) 12%, hsla(168, 94%, 35%, 1) 20%, hsla(172, 94%, 31%, 1) 29%, hsla(179, 93%, 26%, 1) 40%, hsla(188, 94%, 25%, 1) 50%, hsla(199, 93%, 23%, 1) 63%, hsla(212, 93%, 22%, 1) 77%, hsla(236, 94%, 19%, 1) 100%); */
      --color-background: linear-gradient(0deg, hsla(211, 100%, 28%, 1) 0%, hsla(236, 100%, 8%, 1) 100%);
      --calc-body-background: rgba(0, 0, 0, 0.25);
      
      /* --calc-body-border: 1px solid rgba(0, 0, 0, 0.18); */
      /* --calc-box-shadow: 0 8px 32px 0 rgba(170, 173, 206, 0.37); */
    }
  }